<!--Temporary template for friends-->
<div class="row">
    <div id='template-for-friends' class="temporary-template">
        <br>

        <div class="input-group double-input">
            <input id='distance-field' type="text" placeholder="Distance in km" class="form-control"/>
    <span class="input-group-btn">
        <a id="filter-by-location" class="btn btn-primary">
            <i class="fa fa-map-marker"></i> Filter by location
        </a>
    </span>
        </div>
        <br><br>
        <table class="table table-condensed">
            <!--Place to add a user-->
            <tbody class="friend-item">

            </tbody>
        </table>
    </div>
</div>