<!--Temporary template for friends-->
<div id='template-for-friends' class="temporary-template">
    <div class="row">
        <div id="site-navigation" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
            <h1>VRakashy</h1>

            <div class="navbar navbar-inverse">
                <div class="container">
                    <div class="navbar-header"></div>
                    <div class="collapse navbar-collapse">
                        <ul class="nav navbar-nav">
                            <li><a href="#myApp/main"><i class="fa fa-paw"></i> Main</a></li>
                            <li><a href="#myApp/user"><i class="fa fa-users"></i> Users</a></li>
                            <li><a href="#myApp/friend"><i class="fa fa-hand-o-right"></i> <i
                                    class="fa fa-hand-o-left"></i> Friends</a></li>
                            <li><a href="#myApp/negotiator"><i class="fa fa-comments"></i> Negotiators</a></li>
                            <li><a href="#myApp/post"><i class="fa fa-bullhorn"></i> Posts</a></li>
                            <li><a href="#myApp/logout"><i class="fa fa-sign-out"></i> LogOut</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
            <div class="input-group double-input">
                <input id='distance-field' type="text" placeholder="Distance in km" class="form-control"/>
    <span class="input-group-btn">
        <a id="filter-by-location" class="btn btn-primary">
            <i class="fa fa-map-marker"></i> Filter by location
        </a>
    </span>
            </div>
        </div>
    </div>
    <br>

    <div class="row">
        <div style="height:500px; overflow-y:scroll;" class="col-xs-5 col-sm-5 col-md-5 col-lg-5 text-center">
            <table class="table table-condensed">
                <!--Place to add a user-->
                <tbody class="friend-item">

                </tbody>
            </table>
        </div>
        <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7 text-center" style="height:500px; overflow-y:scroll;">
            <table id="messages-table" class="table">

            </table>
        </div>
    </div>
    <br>

    <div class="row">
        <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 text-center">

        </div>
        <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7 text-center">
            <div class="input-group double-input">
                <input id='message-field' type="text" placeholder="Write your message" class="form-control"/>
    <span class="input-group-btn">
        <a id="message-button" class="btn btn-primary">
            <i class="fa fa-paper-plane-o"></i> Send
        </a>
    </span>
            </div>
        </div>
    </div>
</div>
