<!--Temporary template for users-->
<div class="row">
    <div id='template-for-negotiators' class="temporary-template">
        <br>

        <div class="input-group double-input">
            <input id='distance-field' type="text" placeholder="Distance in km" class="form-control"/>
    <span class="input-group-btn">
        <a id="filter-by-location" class="btn btn-primary">
            <i class="fa fa-map-marker"></i> Filter by location
        </a>
    </span>
        </div>
        <br><br>

        <div class="negotiator-item">

        </div>
    </div>
</div>