<!--Temporary template for users-->
<div id='template-for-negotiators' class="temporary-template">
    <div class="row">
        <div id="site-navigation" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
            <h1>VRakashy</h1>

            <div class="navbar navbar-inverse">
                <div class="container">
                    <div class="navbar-header"></div>
                    <div class="collapse navbar-collapse">
                        <ul class="nav navbar-nav">
                            <li><a href="#myApp/main"><i class="fa fa-paw"></i> Main</a></li>
                            <li><a href="#myApp/user"><i class="fa fa-users"></i> Users</a></li>
                            <li><a href="#myApp/friend"><i class="fa fa-hand-o-right"></i> <i
                                    class="fa fa-hand-o-left"></i> Friends</a></li>
                            <li><a href="#myApp/negotiator"><i class="fa fa-comments"></i> Negotiators</a></li>
                            <li><a href="#myApp/post"><i class="fa fa-bullhorn"></i> Posts</a></li>
                            <li><a href="#myApp/logout"><i class="fa fa-sign-out"></i> LogOut</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
            <div class="input-group double-input">
                <input id='distance-field' type="text" placeholder="Distance in km" class="form-control"/>
    <span class="input-group-btn">
        <a id="filter-by-location" class="btn btn-primary">
            <i class="fa fa-map-marker"></i> Filter by location
        </a>
    </span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
            <div class="negotiator-item">

            </div>
        </div>
    </div>
</div>