<div id='temporary-template'>
    <br>
    <table class="table table-condensed">
        <tbody>
        <tr>
            <td>Place for photo</td>
            <td>
                Name and Surname
                <br><br><a class="btn btn-primary">Add to friends</a>
                <br><br><a class="btn btn-primary">Read the posts</a>
            </td>
        </tr>
        <tr>
            <td><br>Place for photo</td>
            <td>
                <br>Name and Surname
                <br><br><a class="btn btn-primary">Add to friends</a>
                <br><br><a class="btn btn-primary">Read the posts</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>