<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= userObject.name %></title>
</head>
<body>
<h1>Your name is: <%= userObject.name %>!</h1>
<h1>Your birth is: <%= userObject.birth %>!</h1>
<h1>Your location is: <%= userObject.location %>!</h1>
</body>
</html>