<div id="invite-form" class="temporary-template">
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Please sign up
                        <small>It's free!</small>
                    </h3>
                </div>
                <div class="panel-body">
                    <div>
                        <div class="row">
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <div class="form-group">
                                    <input id="firstName" type="text" class="form-control input-sm input-first-name"
                                           placeholder="First Name">
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <div class="form-group">
                                    <input id="lastName" type="text" class="form-control input-sm input-last-name"
                                           placeholder="Last Name">
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <input id="city" type="text" class="form-control input-sm input-city" placeholder="City">
                        </div>

                        <div class="form-group">
                            <input id="dateOfBirth" type="date" class="form-control input-sm input-birth" placeholder="Birth mm/dd/yyyy">
                        </div>

                        <div class="form-group">
                            <input id="email" type="email" class="form-control input-sm input-email" placeholder="E-mail Address"  value="<%=email()%>">
                        </div>

                        <div class="row">
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <div class="form-group">
                                    <input id="pass" type="password" class="form-control input-sm input-password"
                                           placeholder="Password">
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <div class="form-group">
                                    <input id="confirm" type="password" class="form-control input-sm input-confirm-password"
                                           placeholder="Confirm">
                                </div>
                            </div>
                        </div>
                        <div class="myButtons">
                            <a id="main-button" class="btn btn-primary">
                                <i class="fa fa-sign-in"></i> Log Up
                            </a>
                        </div>
                        <div>
                            <h6><a href="#myApp/start/login">Log In</a> form.</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>