<div id="reset-form" class="row temporary-template">
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Check your e-mail after resetting.
                    </h3>
                </div>
                <div class="panel-body">
                    <div name="lastForm">

                        <div class="form-group">
                            <input id="reset-email" type="email" class="form-control input-sm input-email"
                                   placeholder="E-mail Address">
                        </div>
                        <div class="myButtons">
                            <a id="main-button" class="btn btn-primary">
                                <i class="fa fa-refresh"></i> Reset
                            </a>
                        </div>
                        <div>
                            <h6><a href="#myApp/start/login">Log In</a> form.</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>