<tr id="<%=_id%>">
    <td><img src="<%=photo%>" width='100'></td>
    <td>
        <h4><%=fullName%></h4>
        <a type='<%=_id%>' class="btn btn-primary add-to-friends">Add to friends</a>
        <a type='<%=_id%>' class="btn btn-primary cancel-friendship" style="display: none;">Cancel friendship</a>
        <a type='<%=_id%>' class="btn btn-primary read-posts" style="display: none;">Read posts</a>
        <!--<br><br><a type='<%=_id%>' class="btn btn-primary read-the-posts">Read the posts</a>-->
    </td>
</tr>
