<div id="user-block" class="container">
    <div class="row">
        <div id="user-page" class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-center">
            <div class="user-photo">
                <img id="preview" name="preview" width="200" src="<%=photo%>">

                <div>Name & surname: <b id="user-name"><%=fullName%></b></div>
                <div>Birth: <%=dateOfBirth%></div>
                <div>Age: <%=age%></div>
                <div>E-mail: <%=email%></div>
                <div>Place: <%=city.name%></div>
            </div>
            <br>
        </div>
        <div id="for-all-conversations" class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-center">
            <p>Hello world</p>
            <a id="send-mssg" class="btn btn-primary">
                <i class="fa fa-users"></i> Send
            </a>
        </div>
    </div>
    <div class="row">
        <div id="#user-buttons-1-row" class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-center">
            <div>
                <a href="#myApp/post" id="posts-button" class="btn btn-primary">
                    <i class="fa fa-book"></i> Posts
                </a>
                <a href="#myApp/user" class="btn btn-primary">
                    <i class="fa fa-users"></i> Users
                </a>
                <a href="#myApp/chat" class="btn btn-primary">
                    <i class="fa fa-envelope-o"></i> Chat
                </a>
                <a id="edit-button" class="btn btn-primary">
                    <i class="fa fa-pencil fa-fw"></i> Edit
                </a>
            </div>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-center">
        </div>
    </div>
    <div class="row">
        <div id="for-templates" class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-center">
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-center">
        </div>
    </div>
</div>