<tr id="<%=_id%>">
    <td><img src="<%=photo%>" width='100'></td>
    <td>
        <h4><%=fullName%></h4>
        <a type='<%=_id%>' class="btn btn-primary add-to-friends" style="display: none;">Add to friends</a>
        <a type='<%=_id%>' class="btn btn-primary refuse-proposition">Refuse proposition</a>
        <a type='<%=_id%>' class="btn btn-primary confirm-proposition">Confirm proposition</a>
        <a type='<%=_id%>' class="btn btn-primary cancel-proposition" style="display: none;">Cancel proposition</a>
        <a type='<%=_id%>' class="btn btn-primary remove-friend" style="display: none;">Remove friend</a>
        <a type='<%=_id%>' class="btn btn-primary read-posts" style="display: none;">Read posts</a>
    </td>
</tr>
